ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS chave_pix TEXT; ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS veiculo_modelo TEXT; ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS veiculo_placa TEXT;
